/* vars located in ./menu.module.css */
.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: var(--hamWidth);
  width: var(--hamWidth);
  border: none;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  margin: var(--hamMrgn);
}

.container:focus {
  outline: none;
}

.bar,
.bar::before,
.bar::after {
  position: relative;
  display: block;
  content: '';
  width: var(--hamWidth);
  height: 4px;
  background-color: var(--navBg);
  z-index: 1;
  transition:
    transform 0.6s ease,
    background-color 0.45s ease,
}

.bar::before {
  top: -10px;
}

.bar::after {
  top: 6px;
}

.container[aria-expanded='true'] .bar {
  background-color: transparent;
}

.container[aria-expanded='true'] .bar::before {
  transform: rotate(45deg);
  top: 0px;
  background-color: var(--navColor);
}

.container[aria-expanded='true'] .bar::after {
  transform: rotate(-45deg);
  top: -4px;
  background-color: var(--navColor);
}