.mainContainer{
  padding: 1rem;
}

.listContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding:  1rem;
  background-color: rgba(245, 245, 245, 0.692);
  border-radius: 0.5rem;
}

.formContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.inputItem {
  margin: 1px;
  padding: 1px;
  font-size: 0.9rem;
}

.addButton {
  margin: 0;
  background-color: aqua;
  border: 1px solid black;
  display: inline-flex;
  height: 100%;
  align-items: center;
}

.addIcon {
  display: flex;
  align-items: center;
  padding-block: 0.2rem;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemContent {
  display: flex;
  justify-content: space-between;
}

.bought {
  text-decoration: line-through;
  color: gray;
}

.buttonsContainer {
  margin-left: auto;
}

.itemBtn {
  margin-inline: 0.2rem;
}

.erraseBoughtBtn {
  font-size: 0.9rem;
  background-color: rgb(252, 252, 90);
  border: 1px solid black;
}